@media all and (max-width:320px){
    #wrap {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    
    .top_star{
        width: 60px;
        height: 60px;
        position: fixed;
        top: 90%;
        right:3%;   
    }
    
    a {
        color: #fff;
    }
    
    .sec1 {
        width: 100%;
        height: 1080px;
        position: relative;
        background: url("../img/sec1_main.jpg") no-repeat center/cover;
    }
    
    .sec1_star {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        position: relative;
        top: 220px;
        cursor: pointer;
        animation: starTwinkle 1s infinite alternate;
        transform: scale(1);
    }
    @keyframes starTwinkle{
        from{
            transform: scale(1.3);
        }
    }
        to{
            transform: scale(1);
        }

        #type-wrap  {  
        font-family: 'Ephesis', cursive;
        position: relative;
        margin-top: 640px;
         color: #fff;
         font-size: 90px;
        text-align: center;
        } 

    .typeStyle{
        position: relative;
    }

    .sec2 {
        height: 1080px;
        background: url("../img/sec2_backgroundimg.jpg") no-repeat center/cover;
    }
    
    .sec2_1 {
        width: 85%;
        margin: 0 auto;
        padding-top: 130px;
    }
    
    .sec2_1>h1 {
        color: #fff;
        font-size: 40px;
        margin-left: 20px;
        margin-bottom: 20px;
        font-weight: 300;
    }
    
    .sec2_2 {
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        font-family: 'Noto Sans KR';
        font-weight: 600;
    }
    
    .sec2_2_left {
        width: 100%;
        margin:0 auto;
    }
    
    .sec2_2_left1 {
        width: 250px;
        height: 250px;
    }
    
    .sec2_2_left1>img {
        width: 250px;
        height: auto;
    }
    
    .sec2_2_left2 {
        width: 100%;
        margin-top: 10px;
    }
    
    .sec2_2_left2_1 {
        height: 45px;
        padding: 10px;
        display: flex;
    }
    
    .sec2_2_left2_box1 {
        font-size: 25px;
        margin-right: 30px;
    }
    
    .sec2_2_left2_2 {
        width: 100%;
        padding: 10px;
    }
    
    .sec2_2_left2_box2 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    #font {
        color: #fa8b8b;
        
    }
    
    #font2 {
        color: #fff;
    }
    
    .sec2_2_right {
        width: 100%;
    }
    
    .sec2_2_right_1 {
        width: 100%;
    }
    
    .sec2_2_right_1_in {
        font-size: 25px;
        padding: 10px;
        color: #fff;
    }
    
    .sec2_2_right_2 {
        width: 100%;
    }
    
    .sec2_2_right_2_in {
        font-size: 25px;
        padding: 10px;
        color: #fff;
    }
    
    .sec2_2_right_3 {
        width: 100%;
    }
    
    .sec2_2_right_3_in1 {
        font-size: 25px;
        padding: 10px;
    }
    
    .sec2_2_right_3_in2 {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: space-between;
        margin-top: -30px;
    }
    
    .container {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    
    .chart {
        position: relative;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        transition: 2s;
    }
    
    span.center {
        background-color: #fa8b8b;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 90px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    }
    
    .circular-chart {
        
        width : 100px;
        height: 100px;
    display: block;
    }
    
    p{
        color: #fff;
    }
    
    .circle {
    stroke: #fff;
    fill: #fa8b8b;
    stroke-width: 3;
    stroke-linecap: round;
    
    }
    .circle-move{
    animation: progress 2.5s ease-out forwards;
    }
    @keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
    }
    
    #circle_rate_wrap {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    }
    
    .circle_rate {
    width: 100px;
    height: 100px;
    float: left;
    margin: 5%;
    }
    
    .circle_rate>p {
    position: relative;
    left: 36.5%;
    top: 130%;
    }
    
    .circle_rate>span {
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    transform: translate(-50%, -50%);
    color: #fff;
    }

    .sec3 {
        width: 100%;
        height: 3020px;
        background: url("../img/sec3_backgroundimg.jpg")no-repeat center/cover;
    }
    
    .sec3_h1 {
        color: #fff;
        width: 85%;
        margin: 0 auto;
        padding-top: 750px;
    }
    
    .sec3_h1>h1 {
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 5px;
    }
    
    .sec3_1 {
        width: 100%;
        justify-content: space-between;
    }
    
    .sec3_1_left {
        width: 100%;
        margin: 0 auto;
    }
    
    .sec3_1_left>img {
        width: 100%;
        height: auto;
    }
    
    .sec3_1_right {
        width: 100%;
        margin-left: 20px;
    }
    
    .sec3_1_right_1 {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .sec3_1_right_h1 {
        color: #fff;
        font-size: 22px;
        padding-bottom: 10px;
        font-family: 'Noto Sans KR';
        font-weight: 600;
    }
    
    #sec3_1_font {
        font-size: 35px;
    }
    
    .sec3_1_right_2 {
        display: flex;
        float: right;
    }
    
    .sec3_1_right_2>button {
        width: 100px;
        height: 40px;
        float: right;
        border-radius: 10px;
        text-align: center;
        border: 3px solid #ff9a9a;
        background-color: transparent;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        margin-right: 30px;
    }
    
    .sec3_1_right_2>button:hover{
        border: 3px solid #fff;
        transition-duration: 0.5s;
    }
    
    .sec3_2_left_2>button:hover{
        border: 3px solid #fff;
        transition-duration: 0.5s;
    }
    
    .sec3_3_right_2>button:hover{
        border: 3px solid #fff;
        transition-duration: 0.5s;
    }
    
    .sec3_2 {
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 140px;
        margin-left: 20px;
    }
    
    .sec3_2_left {
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 100%;
    }
    
    .sec3_2_left_1 {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .sec3_2_left_h1 {
        color: #fff;
        font-size: 22px;
        padding-bottom: 10px;
        font-family: 'Noto Sans KR';
        font-weight: 600;
    }
    
    .sec3_2_left_2>button {
        width: 100px;
        height: 40px;
        float: right;
        border-radius: 10px;
        text-align: center;
        border: 3px solid #ff9a9a;
        background-color: transparent;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        margin-right: 30px;
    }
    
    .sec3_2_right {
        margin: 0 auto;
    }
    
    .sec3_2_right>img {
        width: 100%;
        height: auto;
        margin-left: -11px;
    }
    
    .sec3_3 {
        width: 100%;
        justify-content: space-between;
        margin-top: 290px;
    }
    
    .sec3_3_left {
        width: 100%;
        margin: 0 auto;
        margin-top: 90px;
    }
    
    .sec3_3_left>img {
        width: 100%;
        height: auto;
    }
    
    .sec3_3_right {
        width: 100%;
        margin-left: 20px;
    }
    
    .sec3_3_right_1 {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .sec3_3_right_h1 {
        color: #fff;
        font-size: 22px;
        padding-bottom: 10px;
        font-family: 'Noto Sans KR';
        font-weight: 600;
    }
    
    #sec3_3_font {
        font-size: 50px;
    }

    .sec3_3_right_2>button {
        width: 100px;
        height: 40px;
        float: right;
        border-radius: 10px;
        text-align: center;
        border: 3px solid #ff9a9a;
        background-color: transparent;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        margin-right: 30px;
    }
    
    .sec3_4 {
        width: 1000px;
        margin: 0 auto;
        margin-top: 300px;
        position: relative;
        font-family: 'Noto Sans KR';
        font-weight: 600;
    }
    
    #sec3-swiper{
        width : 93%;
        overflow: hidden;
        margin: 0 auto;
    }

    .sec3_4_in {
        width: 95%;
        color: #fff;
        font-size: 22px;
        margin-left: 15px;
        margin-top: 5px;
    }
    
    #swiper_font{
        font-size: 23px;
    }
    
    .swiper-slide {
        border-right: 1px solid rgba(255, 237, 238, 0.2);
    }
    
    #next {
        color: #fa8b8b;
        top: 42%;
        right: 15px;
    }
    
    #prve {
        color: #fa8b8b;
        top: 42%;
    }
    
    .sec4 {
        width: 100%;
        height: 850px;
        background: url("../img/sec4_backgroundimg.jpg") no-repeat center/cover;
    }
    
    .sec4_1 {
        width: 90%;
        margin: 0 auto;
    }
    
    .sec4_1>h1 {
        font-size: 35px;
        color: #fff;
        margin-bottom: 20px;
        font-weight: 100;
        padding-top: 100px;
    }
    
    .sec4_2{
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        position: relative;
    }
    
    .sec4_2_left{
        display: none;
    }

    .sec4_tap{
        width: 103%;
        border: 8px solid #fff;
        border-radius: 35px;
        position: relative;
        overflow: hidden;
        margin-left: -13px;
    }
    
    .sec4_tap>img{
        width: 100%;
        position: relative;
        cursor:grab;
        margin-bottom: -10px;
    }
  
    .sec4_2_right{
        width: 100%;
        font-size:22px;
        color: #fff;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    .sec4_2_right_1{
        margin-bottom: 20px;
        font-family: 'Noto Sans KR';
        font-weight: 600;
    }
    
    .sec4_2_right_2{
        padding-bottom: 20px;
    }
    
    .sec4_2_right_3{
        display: flex;
    }
    
    .sec4_2_right_3_in>a>button{
        width: 90px;
        height: 35px;
        float: right;
        border-radius: 13px;
        text-align: center;
        border: 3px solid #ff9a9a;
        background-color: transparent;
        color: #fff;
        font-size: 14px;
        line-height: 14px;
        cursor: pointer;
        margin-right: 50px;
    }
    
    .sec4_2_right_3_in>a>button:hover{
        border: 3px solid #fff;
        transition-duration: 0.5s;
    }
    
    .sec5 {
        width: 100%;
        height: 1000px;
        background: url("../img/sec5_backgroundimg.jpg") no-repeat center/cover;
        position: relative;
    }
    
    .sec5_1 {
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 30%;
    }
    
    .sec5_1_box1 {
        width: 100%;
        font-size: 20px;
        text-align: center;
        color: #fff;
        font-family: 'Noto Sans KR';
        font-weight: 800;
    }
    
    .sec5_1_box2 {
        width: 100%;
        font-size: 50px;
        color: #fa8b8b;
        margin-top: 20px;
        text-align: center;
        font-family: 'Noto Sans KR';
        font-weight: 600;
    }
    
    .sec5_1_box3{
        width: 100%;
    }
    
    .sec5_1_box3_in1{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    
    .sec5_1_box3_in1>img{
        width: 50px;
        height: 50px;
    }
    
    .sec5_1_box3_in2{
        font-size: 40px;
        color: #fff;
    }
    
    .footer_h2{
        width: 100%;
        font-size: 14px;
        color: #fff;
        background-color: #04081a;
        text-align: center;
        font-weight: 100;
        position: absolute;
        bottom: 0;
        padding: 10px;
        font-family: 'Noto Sans KR';
        font-weight: 600;
    }

    #typeStyle2{
        font-size: 25px;
    }

}/* media query */